#whistler {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  margin-right: 10px;
  float: left;
}


#blackcomb {
  float: left;
  margin-right: 5px;
}


#twitter-widget-holder{ max-height:400px; 
                        max-width:320px; 
                        padding:20px; 
                        background:#fff; 
                        border-radius:3px; 
                        box-shadow:2px 2px 3px 
                        rgba(0,0,0,.1); }

.updates {
    font-size: 3em;
}