{% extends "base.html" %}
{% block content %} 
<!-- custom scrollbar CSS -->
<link rel="stylesheet" href="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
<!-- jQuery lib -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- custom scrollbar plugin script -->
<script src="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>


<div class="container-fluid homepage wrapper">
<!-- YouTube Video -->
<head>
  <title>Bootstrap Modal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="row">
  <div class="col-xs-1"></div>
<!-- Modal -->
  <div class="modal fade" id="modal-liveCam" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Live Feed </h4>
        </div>

        <!-- YouTube Video -->
        <div class="modal-body" style="text-align:center">
            <iframe width="504" height="283" src="https://www.youtube.com/embed/CQ7hMIiImBo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

      </div>
      
    </div>
  </div>
<!-- Mountain Conditions Update -->
<div class="container updates col-xs-5 mtn-rept">
  <div style='text-align:center'>
    <span>
      <h2> Whistler MTN </h2>
      <hr>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-liveCam">LiveCam</button><br>
    </span>
            <h3>A quick MTN report</h3>
                <div id='ride_choice'>
  <h5> Best spot to ride for todays conditions:
                     {{ daily_cat }} </h5>
                </div>
            <b> Daily Snowfall Accumulation: </b> {{ weather.daily_snowfall }}" </br>
            <b> 24 hour snowfall: </b> {{ weather.overnight_snowfall }} " </br>
            <b> Wind: </b> {{ weather.wind_forcast }}

    <div id='halfpipe'> 
        {% if pipe.groomed %}
            18' Half Pipe: Freshly Groomed
        {% endif %}
    </div>
    <br>
    <div id='skiruns'>
        <h4> {{ daily_cat }}  Runs: </h4>
            {% for skirun in run_objs %}
                    {{ skirun.name}} | {{ skirun.level}} <br>
            {% endfor %}
    </div> <br>

    <div>
        <h4>Groomers Choice:</h4>
            {% for groomer in groomed_runs %}
                {{ groomer.name }} | {{ groomer.level}}
            {% endfor %}
    </div> <br>

        <div id='forcast'>
            <h4> Tomorrow's Forecast </h4>
             {{ weather.snow_forcast}}</br>
    </div>
  </div>   
</div>



<!-- livecam Modal -->
<!-- Modal -->
  <div class="modal fade" id="modal-liveCam" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Live Feed </h4>
        </div>

        <!-- YouTube Video -->
        <div class="modal-body" style="text-align:center">
            <iframe width="504" height="283" src="https://www.youtube.com/embed/CQ7hMIiImBo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<div class="col-xs-1 inline-block"></div>
<!-- Twitter Widget -->
<div class="inline-block twitter-widget-holder col-xs-5">

  <a class="twitter-timeline twitter-widget-holder"
  href="https://twitter.com/WhistlerBlckcmb" height="500" data-chrome="nofooter noborders"></a>
  Tweets from Whistler Blackcomb

  <a class="twitter-list twitter-widget-holder" href="https://twitter.com/WhistlerBlckcmb"></a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </a>
</div>
</div>
</div>
<script type="text/javascript">
twttr.widgets.createTimeline(
  {
    sourceType: "twitter-timeline",
    ownerScreenName: "Whistler Blackcomb",
    slug: "WhistlerBlckcmb"
  },
  document.getElementById("twitter-list")
);

</script>

<script>
  (function($){
    $(window).load(function(){
      /* initialize scrollbar */
      $("#twitter-widget-holder").mCustomScrollbar({
        theme:"dark-3",
        scrollButtons:{enable:true}
      });
      /* insert twitter widget js in window load fn */
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    });
  })(jQuery);
</script>

{% endblock %}
