{% extends 'base.html' %}
{% block content %} 
<h2> {{lift.name}} </h2>

<div id="root"> <!-- component will go in this div --> </div>


<!-- react -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<!-- needs to be before  -->
<script src="http://unpkg.com/babel-standalone"></script>


{% if lift.skiruns %}
<div class='col-xs-6 inline container'>
<b>Skiruns</b> </br>
    {% for run in lift.skiruns %}
     {{ run.name }} | {{ run.level }} </br>
     {% endfor %}
</div>
    {% endif %}

<script type="text/javascript">
    let foodName;
    let foodLocation;
    let liftName = "{{ lift.name }}";
</script>

<script type="text/javascript">
  let liftId = {{ lift.lift_id }};
    {% if 'logged_in' in session %}
        let userLoggedIn = true;
    {% else %}
        let userLoggedIn = false;
    {% endif %}

    {% if lift.foods %}
        let foodExist = true;
    {% else %}
        let foodExist = false;
    {% endif %}
</script>


<script src="/static/restaurants/foodchild.jsx" type="text/jsx"></script>
<script src="/static/restaurants/modal.jsx" type="text/jsx"></script>
<script src="/static/restaurants/liftparent.jsx" type="text/jsx"></script>
{% endblock %}