{% extends 'base.html' %}
{% block content %} 
<style type="text/css">
.yelp-photo {
    height: 30em;
    width: 39.95em;
}

.open {
    display: inline-block;
    height: 270px;
    width: 70%;
    overflow: hidden;
    background-color: #F0F8FF;
}

hr {clear: both;}

#puppies{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    height: 320px;
    margin-bottom: 25px;
}

#runs{
    padding-top: 30px;
}


</style>

<h2> {{lift.name}} </h2>


    <img id="puppies" class= "col-xs-12" src="static/photo/puppies.png"/ >


<div class="container">
{% if yelp_infos %}
  <p><h2>Restaurants</h2></p>

  <!-- Trigger the modal with a button -->
<body>
    {% for food in yelp_infos %}
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-{{food.food_id}}">{{food.name}}
     </button>

  <!-- Modal -->
  <div class="modal fade" id="modal-{{food.food_id}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{food.name}}</h4>
        </div>
        {% if yelp_infos[food]['photos'] %}
        <div>
            <img class="yelp-photo"src="{{ yelp_infos[food]['photos'][0] }}"/>
        </div>
        {% endif %}
        <div>
            Average Rating {{ yelp_infos[food]['rating'] }}/5
        </div>

        <div class="modal-body">
          <p>{{food.description}}</p>
          {{food.name}} <a href="{{ yelp_infos[food]['url'] }}" target="_blank"> reviews</a>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
</body>
</html>


<div id="runs">
<h3>Skiruns</h3> </br>
{% if green %}
<div class='green col-xs-4 inline container'>
  <b>Beginner level skiruns</b></br>
    {% for run in green %}
      <span class="fav glyphicon glyphicon-heart-empty glyphicon-heart" data-run= "{{ run.name }}" data-lift = "{{ lift.name }}" data-id="{{run.skirun_id}}"> </span>  <a href="/{{ run.name }}">{{ run.name }}</a></br>
    {% endfor %}
</div>
{% endif %}


{% if blue %}
<div class='blue col-xs-4 inline container'>
  <b>Intermediate level skiruns</b></br>
    {% for run in blue %}
      <span class="fav glyphicon glyphicon-heart-empty glyphicon-heart" data-run= "{{ run.name }}" data-lift = "{{ lift.name }}" data-id="{{run.skirun_id}}"></span> <a href="/{{ run.name }}"> {{ run.name }}</a></br>
    {% endfor %}
  </div>
{% endif %}


{% if black %}
<div class='black col-xs-4 inline container'>
  <b>Advanced level skiruns</b></br>
  {% for run in black %}
    <span class="fav glyphicon glyphicon-heart-empty glyphicon-heart" data-run= "{{ run.name }}" data-lift = "{{ lift.name }}" data-id="{{run.skirun_id}}"> </span> <a href="/{{ run.name }}">{{ run.name }}</a></br>
  {% endfor %}
</div>
{% endif %}
</div>
  <img class="mtn-footer" src="https://www.whistlerblackcomb.com/Assets/images/sites/whistlerblackcomb/footer-mountains-top.svg">
<script type="text/javascript">
function dbAddFave(evt){

    // change fill of glyphicon & add fave to db
    $(this).toggleClass("glyphicon-heart-empty");
    let run_id = $(this).data('id');
    let lift_name = $(this).data('lift');
    $.post("/add-fave", {'run_id':run_id, 'lift_name':lift_name}, function(data) { console.log(data)});
  }
$(".fav").on('click', dbAddFave);

</script>

{% endblock %}