{% extends 'base.html' %}
{% block content %} 
<div id="root"></div>


<!-- react -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<!-- needs to be before text -->
<script src="http://unpkg.com/babel-standalone"></script>

<h2> {{lift.name}} </h2>



<div class='container'>
    {% if lift.skiruns %}
<div class='col-xs-6 inline'>
<b>Skiruns</b> </br>
    {% for run in lift.skiruns %}
     {{ run.name }}
     {% endfor %}
    {% endif %}
</div>

<script type="text/javascript">
    let foodName;
    let foodLocation;
</script>

{% if lift.foods %}
<b> Restaurants </b>
    {% for food in lift.foods %}
<div class='col-xs-6 inline'>
    <script type="text/javascript">
        foodName = "{{ food.name }}" 
        foodLocation = {{ food.location|tojson }}
        {% if food.location %}
            "located at the base of the lift"
        {% else %}
            "located at the lifts summit"
        {% endif %}
</script>
        {% endfor %}
    {% endif %}
</div>
</div>

<script type="text/javascript">
    let liftName = {{ lift.name }};
</script>

<script type="text/javascript">
  let liftId = {{ lift.lift_id }};
    {% if 'logged_in' in session %}
        let userLoggedIn = true;
    {% else %}
        let userLoggedIn = false;
    {% endif %}

    {% if lift.foods %}
        let foodExist = true;
    {% else %}
        let foodExist = false;
    {% endif %}
</script>
<script src="/static/LiftParent.jsx" type="text/jsx"></script>
{% endblock %}