{% extends 'base.html' %}
{% block content %} 
<style type="text/css">
.center {
    text-align: center;
}

.second {
    display: inline-block;
}


</style>
<div class='center'>
<iframe width="560" height="315" src="https://www.youtube.com/embed/GgdmR8zb0M8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div>   
<h2 class='center'> Whistler Olympic Plaza Live Cam</h2>
</div>

<div class='col-xs-6 second'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PdYuJ6dLG5c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h3 class='col-xs-6 center second'>Whistler from above</h3>
</div>
<div class='col-xs-6 second'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EQ1ji6mmXA8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h3 class='col-xs-6 center second'> Whistler Athlete Teaser </h3>
</div>
{% endblock %}