{% extends 'base.html' %}
{% block content %} 
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/static/Mt_Baker/MP4/Mt_Baker.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/static/WEBM/Mt_Baker.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="/static/Snapshots/Mt_Baker.jpg" alt="">
        </div>
    </div>
</div>


<body class="background">
<div class="signin">
<!-- Awesome Login -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <form action='/login' method='POST'>
                <div class="form-login signin">
                    <h4>Welcome back.</h4>
                        <input type="email" name="email" class="form-control input-sm chat-input" placeholder="email" /></br>
                        <input type="password" name="password" class="form-control input-sm chat-input" placeholder="password" /></br>
                <div class="wrapper">
                <span class="group-btn">     
                <button type='submit' class="btn btn-danger">Sign-in</button>
                </span>
                <div id='register'>
                    New users
                    <a href="/register"> register here </a>
                </div>   
            </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>

<!-- Link to JS doc -->
<script src="static/video.js"></script>

{% endblock %}