{% extends 'base.html' %}
{% block content %} 




<link rel="stylesheet" href="static/my_flare.css">


<!-- Import search bar libraries -->
<title>Bootstrap typeahead with options example by w3resource</title>


<div id="multiple-datasets">
  <input class="typeahead" type="text" placeholder="Lifts & Skiruns">
</div>

<!-- Import Search Params-->
<script type="text/javascript" src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script type="text/javascript" src="static/typeahead.js"></script>
<script type="text/javascript" src="static/skirun_search.js"></script>

<!-- Import D3 tree maps -->
<script src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="static/whistler_d3.js"></script>
<script type="text/javascript" src="static/blackcomb_d3.js"></script>

{% endblock %}
