{% extends 'base.html' %}
{% block content %} 

<h2 id='greeting'> Welcome Back {{ user.fname.title() }}!</h2> 
<div class='container-fluid'>
</dv>

Your personal ride report </br>
        <a href="/lifts">Find & rate a ski run</a> </br>

{% for cats in cat_obj%}
<div class='col-xs-4'>
<h5> {{ cats.cat.title() }} riding: </h5> 
    {% for run_obj in user_runs %}
      {% if run_obj.category.cat == cats.cat %}
        {% if run_obj.lifts %}
            {{ run_obj.lifts[0].mountain }} | {{ run_obj.name }} <br>
        {% endif %}
      {% endif %}
    {% endfor %}
</div>
{% endfor %}
<div class='col-xs-12'>
  <img src="https://images.vailresorts.com/image/upload/c_scale,dpr_2.0,f_auto,q_auto,w_1500/v1/Whistler%20Blackcomb/Heros/2000x400/DavidMcColm_DSC1648wb.jpg" alt="Whistler Mountains" class='col-xs-12' style='padding:2em'>
</div>

<div id='user_ratings' class='col-xs-12'>
<table class='table table-striped'>
  <tr>
    <th align="center">Skirun</th>
    <th align="center">Rating</th> 
    <th align="left">Comment</th>
  </tr>
  <tr>
    <!-- This link is connecting to the /rating_id -->
    {% if skirun_id %}
    <td> <a href="/{{ratings.skirun.name}}"> {{ ratings.skirun.name }} </a></td>
    <td> {{ ratings.rating }} </td>
    <td> {{ ratings.comment }} </td> 
    {% endif %}
  </tr>
</table>   
</div>

{% endblock %}