{% extends 'base.html' %}
{% block content %} 

<style type="text/css">
body {
  text-align: center;
}

.greeting{
  text-align: left;
}

#faves-button{
  margin-top: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -15px;
}

.categories {
  margin-top: -45px;
}
</style>

<h2 class='greeting'> Welcome Back {{ user.fname.title() }} {{ user.lname.title() }}!</h2>

<link rel="import" href="twilio_modal.html">
<!-- Modal -->
  <div class="modal fade" id="modal-liveCam" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Text your favorites </h4>
        </div>

        <!-- YouTube Video -->
        <form action="/twilio">
        <div class="modal-body" style="text-align:center">
          <div class="faves" id="whistler-faves"> 
            <h3>Whistler:</h3>
            {% for fave in W_fave_runs %}
              <p><b>{{ fave.name }} </b></p>
              {% for lift in fave.lifts %}
                {{ lift.name }}
              {% endfor %}
            {% endfor %}
          </div>
           
          <div class="faves" id="blackcomb-faves" >
            <h3>Blackcomb:</h3>
            {% for fave in B_fave_runs %}
              <p><b>{{ fave.name }} </b></p>
              {% for lift in fave.lifts %}
                {{ lift.name }} -
              {% endfor %}
            {% endfor %}
          </div>

          <button type="submit" id="text-it">Text it!</button>
        </form>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<script type="text/javascript">
  function textIt() {
    $.get("/twilio", function (data) {
        alert(data);
    });}

$('#text-it').on('click', textIt;
</script>

<h4 class="greeting">Your personal ride report<br>
    <button type="button" class="btn btn-danger text-left" data-toggle="modal" data-target="#modal-liveCam" id="faves-button">Text Faves</button>

</h4>
<div class="row categories">
  <hr>
{% for cats in cat_obj%}
<div class='col-xs-4 mtn-rept'>
  <img height="80" src="{{cats.icon}}">
<h5> {{ cats.cat.title() }} riding: </h5> 
    {% for run_obj in user_runs %}
      {% if run_obj.category.cat == cats.cat %}
        {% if run_obj.lifts %}
            {{ run_obj.lifts[0].mountain }} | <a href="/{{ run_obj.name }}">{{ run_obj.name }}</a> <br>
        {% endif %}
      {% endif %}
    {% endfor %}
</div>
{% endfor %}
</div>
<hr>

<div class="row">
  <div class="col-xs-3 faves inline-block">

            <h3>Whistler:</h3>
            {% for fave in W_fave_runs %}
              <p><b>{{ fave.name }} </b></p>
              {% for lift in fave.lifts %}
                {{ lift.name }}
              {% endfor %}
            {% endfor %}
          </div>
           
          <div class="col-xs-3 faves inline-block" >
            <h3>Blackcomb:</h3>
            {% for fave in B_fave_runs %}
              <p><b>{{ fave.name }} </b></p>
              {% for lift in fave.lifts %}
                {{ lift.name }} -
              {% endfor %}
            {% endfor %}
          </div>
    {% if ratings %}
<div id='user_ratings' class='col-xs-6 rating-table textleft'>
    <h3>My Ratings:</h3>
  <a href="/lifts">Find & rate a ski run</a> </br>
<table class='table table-striped'>
  <tr>
    <th align="center">Skirun</th>
    <th align="center">Rating</th> 
    <th align="left">Comment</th>
  </tr>
  <tr>
    <!-- This link is connecting to the /rating_id -->
    {% for rating in ratings %}
    <tr>
    <td> <a href="/{{rating.skirun.name}}"> {{ rating.skirun.name }} </a></td>
    <td> {{ rating.rating }} </td>
    <td> {{ rating.comment }} </td> 
  </tr>
    {% endfor %}
    {% endif %}
  </tr>
</table> 
</div>

</div>
</div>
{% endblock %}