{% extends 'base.html' %}
{% block content %} 
<style type="text/css">
.resize {
    resize: both;
    overflow: auto;
}
table {
  width: auto;
  height: auto;
  max-width: 60%;
}
img {
  display-block;
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  }
</style>
<script src="script.js"></script>
<h2> {{ skirun.name }} </h2>

<html>

<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<body>

</body>

</html>
<div display="run-info inline-block">
   {% if skirun.status %}
      Freshly Groomed Today
   {% endif %} <br>
      Level: {{ skirun.level }}<br>
</div>
<div display="inline-block">
  {% if skirun.lifts %}
  Mountain: {{ skirun.lifts[0].mountain }} <br>
  Type: {{ skirun.category.cat }}
<h5> Lift Access: </h5>
  {% for lift in skirun.lifts %}
  <a href="{{ lift.name }}">{{ lift.name }}</a><br>


  {% endfor %}
  {% endif %}
</div>

<div id="root"> <!-- component will go in this div --> </div>



<!-- react -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<!-- needs to be before -->
<script src="http://unpkg.com/babel-standalone"></script>

<script type="text/javascript">
  let skirunId = {{ skirun.skirun_id }};
  {% if 'logged_in' in session %}
  let userLoggedIn = true;
  {% else %}
  let userLoggedIn = false;
  {% endif %}

  {% if rating %}
  let ratingsExist = true;
  {% else %}
  let ratingsExist = false;
  {% endif %}

</script>



<script src="/static/ratingchart.jsx" type="text/jsx"></script>
<script src="/static/ratingform.jsx" type="text/jsx"></script>
<script src="/static/skirunpage.jsx" type="text/jsx"></script>

{% endblock %}