{% extends 'base.html' %}
{% block content %} 
<style type="text/css">
.resize {
    resize: both;
    overflow: auto;
}
table {
  width: auto;
  height: auto;
  max-width: 60%;
}
#top {
  display-block;
  width: 100%;
  height: 250px;
  vertical-align: middle;
  border: 0;
  padding: 15px;
  -ms-interpolation-mode: bicubic;
  }

#title{
  padding: 30px;
}
</style>
<div class='title'>
<h2> {{ skirun.name }} </h2>
</div>
<row>
<div class='col-xs-6'>
  <br>
   {% if skirun.status %}
   <b>Daily Skirun Report:</b><br>
      Freshly Groomed Today
   {% endif %} | 
      Level: {{ skirun.level }} 
  {% if skirun.lifts %}
  Mountain: {{ skirun.lifts[0].mountain }} | 
  Type: {{ skirun.category.cat }}
</div>

<div class='col-xs-6'>
  <h5> Lift Access: </h5>
  {% for lift in skirun.lifts %}
  <a href="{{ lift.name }}">{{ lift.name }}</a><br>
  {% endfor %}
  {% endif %}
</div>
<row>
<img id='top' src='static/photo/skiruns.png' className='col-xs-12' />

<div id="root"> <!-- component will go in this div --> </div>




<!-- react -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<!-- needs to be before -->
<script src="http://unpkg.com/babel-standalone"></script>

<script type="text/javascript">
  let skirunId = {{ skirun.skirun_id }};
  {% if 'logged_in' in session %}
  let userLoggedIn = true;
  {% else %}
  let userLoggedIn = false;
  {% endif %}

  {% if rating %}
  let ratingsExist = true;
  {% else %}
  let ratingsExist = false;
  {% endif %}

</script>



<script src="/static/ratingchart.jsx" type="text/jsx"></script>
<script src="/static/ratingform.jsx" type="text/jsx"></script>
<script src="/static/skirunpage.jsx" type="text/jsx"></script>

{% endblock %}